<%- include('../includes/admin/head.ejs') %>

<%- include('../includes/admin/navigation.ejs') %>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Products</h1>
            </div>

            <div class="col-md-6 mt-1 d-flex justify-content-end align-items-center">
                <a href="/admin/add-product" class="btn btn-primary">Add Product</a>
            </div>
        </div>
    </div>
</main>

<%- include('../includes/admin/footer.ejs') %>